Jina_AI_Basic_Scraping_Example.json
{
  "name": "Jina AI Basic Scraping Example",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c6b866c7-fc10-4ea7-bf58-20acde177043",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/https://github.com/muzafferkadir/snake-learn-to-play",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer jina_c482c02a378442c4af7ecf8f0b6539d0fPoDgny_88ZtB8value"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "3a81f218-150e-463f-8a4e-f52c6c3fd482",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BqQ4IUWXWRTmufbi",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=bu websitesi ne hakkında?\n\nWebsitesi içeriği\n{{ $json.data }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        440,
        0
      ],
      "id": "b406f5d8-3ae9-427e-a3bf-820cfe700953",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        220
      ],
      "id": "0ba6e5ed-6966-4f2a-bc60-ba71fe5b3744",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "DNHcxOoV2w1bXBdi",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        540,
        220
      ],
      "id": "db9eb179-a8e6-4b24-825e-4e4fb8aa7f8e",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33565e26-612b-4603-ba08-6e14a724004b",
  "meta": {
    "instanceId": "213357d44110d65b8aa07ee93b7444586a4264bb054cac05d9147abdaf8f2617"
  },
  "id": "9hHIBVEcAPT79fHg",
  "tags": []
}